# Metals.dev API Key
METALS_API_KEY=your_metals_api_key_here

# CoinGecko API Key (可选，用于获取 XAUT 和 PAXG 价格)
COINGECKO_API_KEY=CG-ifYYJir26mSrKNfMVsyUU4cw

# Etherscan API Key (可选，用于获取代币持仓人数，默认使用 Ethplorer 的 freekey)
ETHERSCAN_API_KEY=VYG72ATFDJFGVDHH3GGGZJWHAYYSFYMXVB

# Supabase 配置
SUPABASE_URL=https://tqmskmshychajelvhiyc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
